{% extends 'liste.html.twig' %}

{% block title %}Liste Employers {% endblock %}

{% block body %}
    {% block titre %}
        <h1>Liste des Employers</h1>
    {% endblock %}

        <table id="tableau" class="table table-bordered text-center table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de Naissance</th>
                    <th>Salaire</th>
                    <th>Service</th>
                    <th>Action</th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% set i=1 %}
                {% for employer in employers  %}
                    <tr>
                        <td scope="row">{{ i }}</td>
                        <td>{{ employer.matricule }}</td>
                        <td>{{ employer.nom }}</td>
                        <td>{{ employer.prenom }}</td>
                        <td>{{ employer.bornAt | date ('d/m/Y') }}</td>
                        <td>{{ employer.salaire }}</td>
                        <td>{{ employer.service.libelle }}</td>
                        <td><a class="btn btn-outline-info" href="#" role="button">Info</a></td>
                        <td><a class="btn btn-outline-danger" href="#" onclick="confirm('Etes vous sur de vouloir supprimer cet element?')" role="button">Supprimer</a></td>
                        <td><a class="btn btn-outline-primary" href="#" role="button">Modifier</a></td>
                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
            </tbody>
        </table>
    

{% endblock %}
