{% extends 'liste.html.twig' %}

{% block title %}Liste Services {% endblock %}
{% block body %}
    {% block titre %}
        <h1>Liste des Services</h1>
    {% endblock %}

        <table id="tableau" class="table table-bordered text-center table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Service</th>
                    <th>Nombre Employers</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% set i=1 %}
                {% for service in services  %}
                    <tr>
                        <td scope="row">{{ i }}</td>
                        <td>{{ service.libelle }}</td>
                        <td>{{ service.employer|length }}</td>
                        <td>
                            <a class="btn info btn-outline-info" href="{{ path('info_service',{'id':service.id}) }}" role="button"><i class="far fa-eye"></i></a>
                            <a class="btn btn-outline-primary" href="{{ path('edit_service',{'id':service.id}) }}" role="button"><i class="far fa-edit"></i></a>
                            <a class="btn btn-outline-danger"
                            {% if service.employer|length == 0 %}
                                href="{{ path('delete_service',{'id':service.id}) }}"
                                onclick="confirm('Etes vous sur de vouloir supprimer cet element?')"
                            {% else %}
                            href="#"
                            onclick="alert('cet elemment ne peut etre supprimé car il n\'est pas vide')"
                            {% endif %}  
                            role="button"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% set i=i+1 %}
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
